node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
*.tar
*.zip
attached_assets/*.txt
attached_assets/*.png
attached_assets/*.jpg
attached_assets/*.jpeg
.cache
.next
.turbo
.expo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build
*.tsbuildinfo
.upm
package-lock.json
.git/objects
.git/logs
.git/refs/remotes


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
